<div id="piggy">
  <div class="head">
    <div class="nose">
		<div class="nostril-left">
		</div>
		<div class="nostril-right">
		</div>
    </div>
    <div class="left-eye">
    </div>
    <div class="right-eye">
    </div>
	<div class="mouth">
    </div>
  </div>
  <div class="left-arm">
  </div>
  <div class="right-arm" 
  onmouseover="this.className='right-arm-wave'" 
  onmouseout="this.className='right-arm'">
  </div>
  <div class="left-ear-whole">
  <div class="left-ear">
    <div class="inside-ear">
    </div>
  </div>
  </div>
   <div class="left-ear-whole second">
  <div class="left-ear">
    <div class="inside-ear">
    </div>
  </div>
  </div>
  <div class="left-foot">
  </div>
   <div class="right-foot">
  </div>
  <div id="piggy-title"><h1>MAPLE. BACON. ENJOY.</h1></div>
</div>