<tr class="nested-fields">
    <td class="quantity-row">
      <%= f.text_field :quantity, class: "tight-table-input" %>
    </td>
    <td class="ingredient-row">
      <%= f.autocomplete_field :ingredient_name, autocomplete_ingredient_name_additions_path, class: "tight-table-input" %>
    </td>
      <td class="table-remove-link"><%= link_to_remove_association "remove", f %></td>

</tr>
