<div id = "title">
  <h1>Welcome <%= @user.name %></h1>
</div>

<h3 class="subheader">
  <div id="user-recipe-title">
    <%= link_to "Your Recipes", controller: "users", action: "show" %> • 
    <%= link_to "All Recipes", recipes_path %>
  <div>
</h3>

<%= render 'shared/recipe_list', recipes: @user.recipes %>

