<div class = "row" id = "user-recipe-list">
  <div class="large-block-grid-4">

    <% if recipes.empty? %>
      No Recipes yet!
    <% end %>

    <% recipes.each do | recipe | %>
      <li>
        <%= link_to recipe do %>
        <div id="user-recipe-list-item">
          <div>
            <%= image_tag recipe.picture.url(:medium) if recipe.picture.file? %>
          </div>
          <div id="user-recipe-list-text">
            <%= recipe.title %>
          </div>
        </div>
      <% end %>
    </li>
    <% end %>
    
  </div>
</div>