@import "foundation/components/buttons";

#tempTitle {
  position: fixed;
  top: 50%;
  left: 50%;
  color: #996600;
  text-size: xx-large;
  font-family:"arial","sans-serif","times";
  margin-left:-150px;
  margin-top:-40px;

}

#title {
  margin-top: 1.5em;
  text-size: x-large;
  font-family:"arial","sans-serif","times";
  text-align: center;
}

#title h1 {
  margin:0;
}

#author-sub {
  margin-bottom:0.5em;
}

#user-recipe-title {
  text-align: center; 
  margin: 1rem;
}

#user-recipe-list-item {
  height: auto;
  margin: 0.1em;
  padding: 0.5em;
  list-style: none; 
  text-align: center; 
  vertical-align: middle;
  font-size: x-large;
  background-color: #8a0808;
  color:#ffffff;
}

#user-recipe-list-text {
  text-align: center; 
  bottom: 1em;
  margin-top:1em;
  padding:0;
  width: 100%;
}

#user-recipe-list {
}

.home-buttons {
  padding-top: 6em;
  max-width: 12em;
  margin-left:auto;
  margin-right:auto;
}

.brown-button {
  $button-font-weight: bold; 
  $button-font-family: inherit;
  @include button($button-med,brown,10px, true, false, false);

}

#ingredients-form {
  width:100%;
}

#picture-form {
  font-weight: bold;
}

.row {
    max-width: 75%;
}

.table-remove-link {
  width: 5em;
  text-align:center;
  vertical-align:center;
  padding:0;
  padding-bottom:1em;
  margin:0;
}

#recipe-grid {
  width:50%;
  margin-left: auto;
  margin-right:auto;
}

#ingredients-column {
  max-width: 10em;
}

.quantity-row {
  padding:0;
  margin:0;
  height:100%;
  width:8em;
}

.ingredient-row { 
  padding:0;
  margin:0;
}

.tight-table-input {
  list-style-type:none;
}

.ui-helper-hidden-accessible { display:none; }

.fields {
  padding:0;
  margin:0;
  height:100%
}

/*will sass this when I have the time */

body{
  /* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center, circle farthest-corner, #FBF2E1 0%, #DCC8A1 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, circle farthest-corner, #FBF2E1 0%, #DCC8A1 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, circle farthest-corner, #FBF2E1 0%, #DCC8A1 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #FBF2E1), color-stop(1, #DCC8A1));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, circle farthest-corner, #FBF2E1 0%, #DCC8A1 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(circle farthest-corner at center, #FBF2E1 0%, #DCC8A1 100%);

}

html{
  min-height:100%;
}

#piggy{
  position:relative;
  margin:0 auto;
  right:90px;
  width:400px;
  margin-top:180px;
  -webkit-transform:rotate(-10deg);
  -moz-transform:rotate(-10deg);
  -o-transform:rotate(-10deg);
  -ms-transform:rotate(-10deg);
}

.head{
  position:relative;
  left:3px;
  width:185px;
  height:210px;
  z-index:1000;
  background:#FFC0CB;
  border-radius:200px;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
  -webkit-transform:rotate(20deg);
  -moz-transform:rotate(20deg);
  -o-transform:rotate(20deg);
  -ms-transform:rotate(20deg);
    border-top:1px solid rgba(255,255,255,0.3);
}


.left-eye{
  position:absolute;
  left:35px;
  top:50px;
  width:50px;
  height:45px;
  border-radius:100px;
  background:#FFF;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
  -webkit-transform:rotate(160deg);
  -moz-transform:rotate(160deg);
  -o-transform:rotate(160deg);
  -ms-transform:rotate(160deg);
}

.left-eye:before{
  position:absolute;
  content:"";
  top:5px;
  left:5px;
  width:25px;
  height:25px;
  border-radius:200px; 
  background-image: -ms-linear-gradient(top, #696969 0%, #708090 100%);
  background-image: -moz-linear-gradient(top, #696969 0%, #708090 100%);
  background-image: -o-linear-gradient(top, #696969 0%, #708090 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #696969), color-stop(1, #000000));
 background-image: -webkit-linear-gradient(top, #696969 0%, #000000 100%);
  background-image: linear-gradient(to bottom, #696969 0%, #708090 100%);
  box-shadow:inset rgba(0,0,0,0.3) 0px 0px 10px;
}

.right-eye{
  position:absolute;
  left:105px;
  top:50px;
  width:50px;
  height:45px;
  border-radius:100px;
  background:#FFF;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
  -webkit-transform:rotate(160deg);
  -moz-transform:rotate(160deg);
  -o-transform:rotate(160deg);
  -ms-transform:rotate(160deg);
}

.right-eye:before{
  position:absolute;
  content:"";
  top:5px;
  left:5px;
  width:25px;
  height:25px;
  border-radius:200px;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#696969), to(#000000));
  background-image: -webkit-linear-gradient(#696969 0%, #000000 100%);
  background-image: -moz-linear-gradient(#696969 0%, #708090 100%);
  background-image: -o-linear-gradient(#696969 0%, #708090 100%);
  background-image: linear-gradient(#696969 0%, #708090 100%);
  box-shadow:inset rgba(0,0,0,0.3) 0px 0px 10px;
}

.mouth{
  position:absolute;
  content:"";
  top:150px;
  left:85px;
  width:15px;
  height:15px;
  border-radius:200px;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#696969), to(#000000));
  background-image: -webkit-linear-gradient(#696969 0%, #000000 100%);
  background-image: -moz-linear-gradient(#696969 0%, #708090 100%);
  background-image: -o-linear-gradient(#696969 0%, #708090 100%);
  background-image: linear-gradient(#696969 0%, #708090 100%);
  box-shadow:inset rgba(0,0,0,0.3) 0px 0px 10px;
}


.left-arm{
  position:absolute;
  top:80px;
  z-index:0;
  left:-20px;
  width:25px;
  height:45px;
  background:#FFC0CB;
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
  -webkit-transform:rotate(130deg);
  -moz-transform:rotate(130deg);
  -o-transform:rotate(130deg);
  -ms-transform:rotate(130deg);
  -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
  border-bottom:5px solid rgba(0,0,0,0.5);
}

.right-arm{
  position:absolute;
  top:150px;
  z-index:0;
  left:160px;
  width:25px;
  height:45px;
  background:#FFC0CB;
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
  border-bottom:5px solid rgba(0,0,0,0.5);
}

.right-arm-wave{
  position:absolute;
  top:155px;
  z-index:0;
  left:160px;
  width:25px;
  height:45px;
  background:#FFC0CB;
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
  -webkit-transform:rotate(-75deg);
  -moz-transform:rotate(-75deg);
  -o-transform:rotate(-75deg);
  -ms-transform:rotate(-75deg);
  -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
  border-bottom:5px solid rgba(0,0,0,0.5);
}

.move{
  -webkit-animation:move .5s infinite;
  -moz-animation:move .5s infinite;
  -o-animation:move .5s infinite;
  -ms-animation:move .5s infinite;
  animation:move .5s infinite;
}

@-webkit-keyframes move{
  50%{
    -webkit-transform:rotate(-65deg);
    -moz-transform:rotate(-65deg);
    -o-transform:rotate(-65deg);
    -ms-transform:rotate(-65deg);
  }
}

@-moz-keyframes move{
  50%{
    -webkit-transform:rotate(-65deg);
    -moz-transform:rotate(-65deg);
    -o-transform:rotate(-65deg);
    -ms-transform:rotate(-65deg);
  }
}

@-o-keyframes move{
  50%{
    -webkit-transform:rotate(-65deg);
    -moz-transform:rotate(-65deg);
    -o-transform:rotate(-65deg);
    -ms-transform:rotate(-65deg);
  }
}

@-ms-keyframes move{
  50%{
    -webkit-transform:rotate(-65deg);
    -moz-transform:rotate(-65deg);
    -o-transform:rotate(-65deg);
    -ms-transform:rotate(-65deg);
  }
}

@-keyframes move{
  50%{
    -webkit-transform:rotate(-65deg);
    -moz-transform:rotate(-65deg);
    -o-transform:rotate(-65deg);
    -ms-transform:rotate(-65deg);
  }
}

.move2{
  -webkit-animation:move2 .5s infinite;
  -moz-animation:move2 .5s infinite;
  -o-animation:move2 .5s infinite;
  -ms-animation:move2 .5s infinite;
  animation:move2 .5s infinite;
}

@-webkit-keyframes move2{
  50%{
    -webkit-transform:rotate(105deg);
    -moz-transform:rotate(105deg);
    -o-transform:rotate(105deg);
    -ms-transform:rotate(105deg);
    transform:rotate(105deg);
  }
}

@-moz-keyframes move2{
  50%{
    -webkit-transform:rotate(105deg);
    -moz-transform:rotate(105deg);
    -o-transform:rotate(105deg);
    -ms-transform:rotate(105deg);
  }
}

@-o-keyframes move2{
  50%{
    -webkit-transform:rotate(105deg);
    -moz-transform:rotate(105deg);
    -o-transform:rotate(105deg);
    -ms-transform:rotate(105deg);
  }
}

@-ms-keyframes move2{
  50%{
    -webkit-transform:rotate(105deg);
    -moz-transform:rotate(105deg);
    -o-transform:rotate(105deg);
    -ms-transform:rotate(105deg);
  }
}

@-keyframes move2{
  50%{
    -webkit-transform:rotate(105deg);
    -moz-transform:rotate(105deg);
    -o-transform:rotate(105deg);
    -ms-transform:rotate(105deg);
  }
}

.nose{
  position:absolute;
  top:100px;
  left:70px;
  width:50px;
  height:35px;
  border-radius:200px;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.2);
    box-shadow: 0 -1px 6px 1px rgba(0,0,0,0.2);
  border-top:1px solid rgba(255,255,255,0.2);
  border-bottom:1px solid rgba(255,255,255,0.2);
}

.nostril-left{
  position:absolute;
  top:15px;
  left:10px;
  width:5px;
  height:5px;
  border-radius:200px;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.2);
    box-shadow: 0 -1px 6px 1px rgba(0,0,0,0.2);
  border-top:1px solid rgba(255,255,255,0.2);
  border-bottom:1px solid rgba(255,255,255,0.2);
}

.nostril-right{
  position:absolute;
  top:15px;
  left:35px;
  width:5px;
  height:5px;
  border-radius:200px;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.2);
    box-shadow: 0 -1px 6px 1px rgba(0,0,0,0.2);
  border-top:1px solid rgba(255,255,255,0.2);
  border-bottom:1px solid rgba(255,255,255,0.2);
}

.curl{
  position:absolute;
  left:90px;
  top:-40px;
  z-indeX:2000;
  width:50px;
  height:100px;
  background:#f0cbd3;
  -webkit-box-shadow: 0 8px 0px -6px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 8px 6px -0px rgba(0,0,0,0.2);
    box-shadow: 0 8px 6px -0px rgba(0,0,0,0.2);
    -webkit-transform:rotate(75deg);
  -moz-transform:rotate(75deg);
  -o-transform:rotate(75deg);
  -ms-transform:rotate(75deg);
  transform:rotate(75deg);
  border-top-right-radius:200px;
  border-bottom-left-radius:200px;
}

.left-ear{
  position:relative;
  left:-195px;
  top:-27px;
  z-indeX:0;
  width:60px;
  height:60px;
  background:#FFC0CB;
  -webkit-transform:rotate(15deg);
  -moz-transform:rotate(15deg);
  -o-transform:rotate(15deg);
  -ms-transform:rotate(15deg);
  -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
  border-radius:10px;
}

.inside-ear{
  position:absolute;
  bottom:0px;
  right:0px;
  width:50px;
  height:50px;
  border-radius:5px;
  background-color:#FFD9E0;
}

.left-ear-whole{
  position:absolute;
  top:20px;
  left:230px;
}

.second{
  left:115px;
  top:220px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
}

.left-foot{
  position:absolute;
  top:150px;
  left:-5px;
  width:40px;
  height:55px;
  border-radius:50px;
  background:#FFC0CB;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(20deg);
  -o-transform:rotate(20deg);
  -ms-transform:rotate(20deg);
  -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
  border-bottom:5px solid rgba(0,0,0,0.5);
}

.move-left{
  -webkit-animation:move-left .5s infinite;
  -moz-animation:move-left .5s infinite;
  -o-animation:move-left .5s infinite;
  -ms-animation:move-left .5s infinite;
  animation:move-left .5s infinite;
}

@-webkit-keyframes move-left{
  50%{
    -webkit-transform:rotate(30deg);
    -moz-transform:rotate(30deg);
    -o-transform:rotate(30deg);
    -ms-transform:rotate(30deg);
  }
}

@-moz-keyframes move-left{
  50%{
    -webkit-transform:rotate(30deg);
    -moz-transform:rotate(30deg);
    -o-transform:rotate(30deg);
    -ms-transform:rotate(30deg);
  }
}

@-o-keyframes move-left{
  50%{
    -webkit-transform:rotate(30deg);
    -moz-transform:rotate(30deg);
    -o-transform:rotate(30deg);
    -ms-transform:rotate(30deg);
  }
}

@-ms-keyframes move-left{
  50%{
    -webkit-transform:rotate(30deg);
    -moz-transform:rotate(30deg);
    -o-transform:rotate(30deg);
    -ms-transform:rotate(30deg);
  }
}

@-keyframes move-left{
  50%{
    -webkit-transform:rotate(30deg);
    -moz-transform:rotate(30deg);
    -o-transform:rotate(30deg);
    -ms-transform:rotate(30deg);
  }
}

.move-right{
  -webkit-animation:move-right .5s infinite;
  -moz-animation:move-right .5s infinite;
  -o-animation:move-right .5s infinite;
  -ms-animation:move-right .5s infinite;
  animation:move-right .5s infinite;
}

@-webkit-keyframes move-right{
  50%{
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
  }
}

@-moz-keyframes move-right{
  50%{
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
  }
}

@-o-keyframes move-right{
  50%{
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
  }
}

@-ms-keyframes move-right{
  50%{
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
  }
}

@-keyframes move-right{
  50%{
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
  }
}

.right-foot{
  position:absolute;
  top:185px;
  left:80px;
  width:40px;
  height:55px;
  border-radius:100px;
  background:#FFC0CB;
  -webkit-transform:rotate(10deg);
  -moz-transform:rotate(10deg);
  -o-transform:rotate(10deg);
  -ms-transform:rotate(10deg);
  -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
  border-bottom:5px solid rgba(0,0,0,0.5);
}
 
#piggy-title h1{
  -webkit-transform:rotate(10deg);
  -moz-transform:rotate(10deg);
  -o-transform:rotate(10deg);
  -ms-transform:rotate(10deg);
  font:30px Lucida Console;
  text-transform:uppercase;
  color:rgba(1,0,0,0.1);
  text-shadow: 2px 2px 7px rgba(255,0,000,0.5), 0 0 0 rgba(255,0,0,0.5);
  position:absolute;
  left:250px;
  top:90px;
  width:500px;
}